body {
  color: #2b2b2b;
  font-family: 'Source Sans Pro', sans-serif;
  background:#f2f3f4;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  float: left;
  width: 370px;
}

h1,
h2,
h3,
h4 {
color: black;
text-transform: uppercase;
font-weight: 700;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

p {
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

header span {
  color: #77a466;
}

#home h1 a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

nav ul li {
  display: inline-block;
  padding: 15px;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #77a466;
}

a:hover {
  text-decoration: underline;
  color: #ff0800;
}

#welcome {
  /* font-family: 'Yellowtail', cursive; */
  color: #9b9b9b;
}

#last .third-width {
  float: left;
  text-align: center;
  padding: 10px;
  /* border-top: 1px solid #c0c0c0; */
}

#last ul {
  list-style-type: none;
  text-align: left;
}

#center {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

footer {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  clear: both;
  border-top: 2px solid #c0c0c0;
}

#fresh {
  color: #228b22;
}

.local {
  color: #a9a9a9;
}

/* SCRAPPED CSS AND REWROTE

I didn't want to look at the solution code, but it became obvious early that I
missed some things in my HTML and my CSS. I forgot to add a main wrapper div,
completely left out some sets of div tags, etc

I also wasn't structuring my CSS properly according to the Skillcrush
solution code. I was giving everything a class or ID rather than going from
outside in and big to small.

CSS NEEDS A SECOND REWRITE: 7-17-20

*/
